@media screen and (max-width: 509px) {
  .logo-avira {
    margin-top: 16.5px;
  }
  .message-block {
    margin-top: 8px;
    height: 400px;
    width: 320px;
    border: 1px solid #CFD6DC;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(89, 92, 104, 0.1);
  }
  .content-block {
    margin-top: 32px;
    margin-left: 24px;
  }
  .bug-picture {
    width: 32px;
    height: 32px;
  }
  .malware-warning {
    top: 6px;
    margin-left: 12px;
    height: 40px;
    width: 252px;
    font-size: 28px;
    line-height: 40px;
  }
  .malware-heading {
    margin-top: 16px;
    height: 48px;
    width: 254px;
  }
  .malware-text {}
}

@media screen and (max-width: 396px) {}

/* .. iphone: */

.button-go-back {
  margin-bottom: 45px;
  margin-top: 56px;
  border-style: none;
  width: 95px;
  height: 40px;
  background: url('./back-50.png') no-repeat;
  background-size: 95px 40px;
  cursor: pointer;
}

/* first responsive */

/* @media screen and (min-width: 461px) and (max-width: 509px) { */

@media screen and (min-width: 508px) and (max-width: 509px) {
  .message-block {
    width: 100%;
    text-align: center;
  }
  .content-block {
    margin-left: auto;
    display: inline-block;
    margin-top: 23px;
    width: 100%;
    text-align: center;
  }
  .align--side-by-side {
    display: block;
    margin: auto;
  }
  .malware-heading {
    margin-left: auto;
    margin-right: auto;
  }
  .malware-text {
    margin-left: auto;
    margin-right: auto;
  }
}

/*
  pixel sizes:
  509 responsive needed
  461 logo no loonger fits on left of text
  396 side margins no longer adequate
  320 minimum recommended supported display size
*/